#auth-right {
  background-image: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmluYW5jaWFsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80) !important;
  background-size: cover !important;
}

.fa-google {
  background: linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0 25%/48% 40%, linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%, linear-gradient(-40deg, transparent 53%, #ea4335 54%), linear-gradient(45deg, transparent 46%, #4285f4 48%), #34a853 !important;
  background-repeat: no-repeat !important;
  -webkit-background-clip: text;
  background-clip: text !important;
  color: transparent !important;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: #c4c4c4;
}

.required {
  color: red;
}

.dropdown-menu {
  border: 2px solid #435ebe;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  #auth-right {
    visibility: hidden;
  }

  #auth-left {
    width: 100%;
  }
}

