body{
    background-color: #c4c4c4; 
}

.required{
    color:red;
}

.dropdown-menu{
    border:2px solid $primaryColor;
}

.modal-footer{
    display:flex;
    justify-content: space-between;
}

@media(max-width: 1200px){
    #auth-right{
        visibility: hidden;
    }
    #auth-left{
        width:100%;
    }
}
